<!DOCTYPE html>
<!--suppress ALL -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    body{
        background: #99CC99 url("http://wallsdesk.com/wp-content/uploads/2016/08/Mesut-Ozil-Computer-Backgrounds.png");
    }
    aside{
        background-color: rgba(11, 0, 28, 0.98);opacity:0.9;
    }
</style>
<body>
<div class="container">

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cliente/lista">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/proveedor/lista">Proveedores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/producto/lista">Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto/lista">Contactos</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Cabecera -->
    <br/>
    <div class="row">
        <div class="col-lg-8">
            <div align="center">
                <img src="https://365prosports.com/wp-content/uploads/2018/07/logo@1x_round.png"
                     width="90" height="90" alt="ropa">
            </div>
            <div>
                <br/>
                <h2 align="center">Politienda 365 ProSports</h2>
            </div>
            <div align="center">
                <blockquote>
                    <i>
                        <font color="white"><b>Lo mejor en ropa deportiva para damas caballeros y niños :)</b></font>
                    </i>
                </blockquote>
            </div>
            <br/>
            <!-- Video -->
            <div align="center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3H-eCKLbezM"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-lg-4">
            <br/>
            <aside class="text-center">
                <div class="row" align="center">
                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4">
                        <b><br><font color="white">Dirección y teléfono:</font></b>
                        <p><font color="white">Ladron de Guevara E11-253<br>(+593) 2 2976 300</font>f</p>

                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d997.4478571481435!2d-78.4885423400902!3d-0.21036372444935142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1562251225373!5m2!1ses!2sec"
                        width="300" height="300" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
                <br/>
                <br/>
                <div class="row" align="center">
                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4" align="center">
                        <a href="/contacto/crearCont">
                            <button class="btn btn-info">Contáctanos</button>
                        </a>
                    </div>
                </div>
                <br/>
            </aside>
        </div>
    </div>
    <br/>
    <div align="center">
        &#169 copyright - AppWEB -GR1- 2019A
    </div>
</div>
</body>
</html>
