<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertando canciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Formulario de Inserción</h2>
        <p>Agregando música:</p>
        <form action="/music/crear" method="post" class="form-group">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="titleId">Título:</label>
                    <input id="titleId" name="titulo" type="text" class="form-control" required>
                </div>
                <div class="col-lg-3">
                    <label for="ArtistId">Artista:</label>
                    <input id="ArtistId" name="artista" type="text" class="form-control" required>
                </div>
                <div class="col-lg-3">
                    <label for="AlbumId">Álbum:</label>
                    <input id="AlbumId" name="album" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="fechaId">Fecha de Lanzamiento:</label>
                    <input id="fechaId" name="lanzamiento" type="date" class="form-control">
                </div>
                <div class="col-lg-3">
                    <label for="trackID">Track Num:</label>
                    <input id="trackID" name="trackNum" type="number" min="0" step="1" class="form-control">
                </div>
                <div class="col-lg-3">
                    <label for="tipoId">Género:</label>
                    <select name="genero" id="tipoId"  class="form-control">
                        <option value="R&B">R&B</option>
                        <option value="Electronic">Electronic</option>
                        <option value="House" selected>House</option>
                        <option value="Indie">Indie</option>
                        <option value="Tech">Tech House</option>
                        <option value="Instrumental">Instrumental</option>
                        <option value="Funk">Funk</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                        <a href="/music/lista">
                    <button type="button" class="btn btn-outline-dark">Cancelar</button></a>
                    <button class="btn btn-outline-primary">Send data</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>