<h1>=== Canciones ===</h1>
<table>
    <tr>
        <th>nombre</th>
        <th>album</th>
        <th>release</th>
        <th>artist</th>
        <th>trackNum</th>
        <th>genre</th>
    </tr>
        <% arraySongs.forEach((music)=> { %>
    <tr>
        <td><% music.name %></td>
        <td><% music.album %></td>
        <td><% music.release %></td>
        <td><% music.artist %></td>
        <td><% music.trackNum %></td>
        <td><% music.genre %></td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
    <% }) %>
</table>
