<h1>MUSIC FORM</h1>
<p>Adding new Song:</p>
<form action="/music/crear" method="post">

    <label for="titleId">Title</label>
    <input id="titleId" name="title" type="text">
    <br>
    <br>

    <label for="AlbumId">Album</label>
    <input id="AlbumId" name="album" type="text">
    <br>
    <br>

    <label for="fechaId">Release Date</label>
    <input id="fechaId" name="fecha" type="date">
    <br>
    <br>

    <label for="ArtistId">Artist</label>
    <input id="ArtistId" name="artist" type="text">
    <br>
    <br>

    <label for="trackID">Track Num</label>
    <input id="trackID" name="track"  type="number" min="0" step="1">
    <br>
    <br>

    <label for="tipoId">Genre</label>
    <select name="tipo" id="tipoId">
        <option value="rb">R&B</option>
        <option value="Electronic">Electronic</option>
        <option value="House" selected>House</option>
        <option value="Indie">Indie</option>
        <option value="Tech">Tech House</option>
        <option value="Instrumental">Instrumental</option>
    </select>
    <br>
    <br>
    <button type="reset">Limpiar</button>
    <a href="/music/lista"><button type="button">Cancelar</button></a>
    <button>Send data</button>
</form>
